<header class="navbar">
    <div class="main-menu">
        <div class="logo">The Weather Mock</div>
        <div class="menu">
            <div class="search">
                <input type="text" id="search" class="search-input" placeholder="Search city or ZIP code...">
                <div class="container-icon">
                    <div class="search-icon" id="search-btn"></div>
                </div>
                
            </div>
        </div>
        <div class="container-menu">
            <div class="world-logo"></div>
            <div class="dropdown"></div>
        </div>
        
    </div>

</header>
